* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  
}
.lottery-modal{
    left: 50%;
    top: 50%;
    width: 35vw;
    height:35vh;
    border: none;
    transform:translate(-17.5vw,-17.5vh);
    color: #D4EBF8;
    background-color: #3D4F72;
    padding: 1vmax;
}
@media screen and (max-width:768px) {

    .lottery-modal{
        width: 45vw;
        height:25vh;
        transform:translate(-22.5vw,-12.5vh);
        color: #D4EBF8;
        background-color: #3D4F72;
        padding: 1vmax;
    }
    
    
}
